.contenedor-home{
    min-width: 100vw;
    min-height: 100vh;
    background-color: hsl(210, 23%, 9%);
}
.contenedor-home-reloj-tareas{
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
    width: 100%;
    
}
app-tareas{
    width: 50%;
    
}
app-reloj{
    width: 50%;
    
}

@media screen and (max-width: 1024px){
    .contenedor-home-reloj-tareas{
        flex-direction: column; 
    }
    app-reloj{
        width: 100%;
    }
    app-tareas{
        width: 100%;
        
    }
    @media screen and (max-width: 576px){
        
    }
}