.contenedor-tareas{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.titulo h1{
    color: white;
    margin-bottom: 0.5rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
}
.contenedor-list{
    width: 65%;
}
.contenedor-list li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
    color: white;
    height: 5rem;
    margin: 1rem 0 1rem 0;
    padding-left: 1.5rem;

    border-radius: 10px;
    background: #0c0c0c; 
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
             //-5px -5px 15px rgb(60, 60, 60);
             -5px -5px 15px rgba(94, 119, 98, 0.842);
    
}
.tacharTarea{
    text-decoration: line-through;
    color: #87878b;
}
.iconoDelete{
    width: 2rem;
    margin-right: 1rem;
    cursor: pointer;
}

.contenedor-list input{
    margin-right: 1rem;
}

   .contenedor-agregarTarea{
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 3px dashed white;
    color: white;
    width: 100%;
    height: 3.5rem;
    margin: 2rem 0 1rem 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    

    border-radius: 10px;
    background: #0c0c0c;
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
             //-5px -5px 15px rgb(60, 60, 60);
             -5px -5px 15px rgba(92, 114, 96, 0.733);
   }
   .contenedor-agregarTarea img{
    width: 2rem;
    margin-right: 1rem;
    margin-left: 3rem;
   }
   .oculatarAgregarTareas{
    display: none;
   }
   .contenedor-editarTarea{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(206, 199, 199);
    width: 100%;
    height: 6.5rem;
    margin: 2rem 0 1rem 0;
    border-radius: 10px;
    background: #141414;
    box-shadow: 5px 5px 15px rgb(25, 25, 25),
             //-5px -5px 15px rgb(60, 60, 60);
             -5px -5px 15px rgba(92, 114, 96, 0.733);
   }
   .contenedor-editarTarea input{
    width: 80%;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(202, 197, 197);
   }
   .contenedor-editarTarea div{
    margin-right: 1rem;
   }
   .contenedor-editarTarea button{
    width: 7rem;
    height: 1.8rem;
    margin: 0.8rem 1.5rem 0 1.5rem;

    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 0.72rem;
    border-radius: 2em;
    background: #141414;
    border: 1px solid #272727;
    transition: all .3s;
    box-shadow: 2px 2px 3px #485348,
             -2px -2px 3px #646d65;
}
.contenedor-editarTarea button:active{
    color: #666;
 box-shadow: inset 1px 1px 5px #b4beb1,
             inset -1px -1px 5px #e9fdef;
}
.ocularEditarTareas{
    display: none;
}

.contenedor-checkTarea input{
    background-color: white;
}

//
.contenedor-checkTarea{
    display: flex;
    align-items: center;
}
.contenedor-checkTarea p{
    margin-left: 2rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    font-size: 0.9em;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
   }
   
   .container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 20px;
    user-select: none;
   }
   
.checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background: #606062;
    border-radius: 7px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.30), 0px 1px 1px rgba(139, 134, 134, 0.3);
   }
   .container input:checked ~ .checkmark {
    background-image: linear-gradient(#255CD2,#1D52C1)
   }
   .checkmark:after {
    content: "";
    position: absolute;
    display: none;
   }
   .container input:checked ~ .checkmark:after {
    display: block;
   }
   .container .checkmark:after {
    left: 0.45em;
    top: 0.20em;
    width: 0.24em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
   }
   
   @media screen and (max-width: 1024px){
    .contenedor-tareas{
        width: 100%;
    }
    .contenedor-list{
        width: 90%;
    }
    .contenedor-btn{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .contenedor-editarTarea{
        margin-bottom: 6rem;
    }
}