<div class="contenedor-tareas">
    <div class="titulo">
        <h1>Tareas</h1>
    </div>
    <div class="contenedor-list">
        <ul>
            <li>
                <label class="container">
                    <input checked="checked" type="checkbox">
                    <div class="checkmark"></div>
                </label>
                <p>Tarea 1</p>
            </li>
        </ul>
        <div class="contenedor-agregarTarea">
            <p>Agregar Tarea</p>
        </div>
    </div>
</div>



