<div class="contenedor-tareas">
    <div class="titulo">
        <h1>Tareas</h1>
    </div>
    <div class="contenedor-list">
        <ul>
            <li *ngFor="let tarea of tareas">
                <div class="contenedor-checkTarea">
                    <label class="container">
                        <input  type="checkbox" [checked]="tarea.checkValor" value="true"  (change)="tacharTarea(tarea, $event)" >
                        <div class="checkmark"></div>
                    </label>
                    <p [ngClass]="{'tacharTarea':tarea.checkValor}">{{tarea.tarea}}</p>
                </div>
                <img class="iconoDelete" (click)="eliminarTarea(tarea)" src="../../../assets/imagenes/icons8-delete-90.png" alt="">
            </li>
        </ul>
        <div class="contenedor-agregarTarea" (click)="Agregar()" [ngClass]="{'oculatarAgregarTareas': claseOcultarAgregarTarea}">
            <img src="../../../assets/imagenes/icons8-plus-100.png" alt="">
            <p>Agregar Tarea</p>
        </div>
        <div class="contenedor-editarTarea" [ngClass]="{'ocularEditarTareas': claseOcultarEditarTarea}">
            <input type="text" placeholder="Escribe una tarea..." #tarea>
            <div>
                <button (click)="aceptar(tarea.value); tarea.value = '' ">Aceptar</button>
                <button (click)="cancelar()">Cancelar</button>
            </div>
        </div>
    </div>
</div>



