

.container{
    display: flex;
    flex-direction: column;
    width: 40rem;
    height: 25rem;
}
.container-bar-reloj{
    display: flex;
    justify-content: space-evenly;
    color: white;

}
.container-bar-reloj p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    cursor: pointer;
}
.container-reloj{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}
.reloj{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 15px solid rgb(127, 236, 113);
    box-shadow: 2px 2px 15px 2px greenyellow;
    border-radius: 160px;
    width: 19rem;
    height: 19rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 5rem;
}
.container-boton{
    display: flex;
    justify-content: center;
    margin-top: 2.2rem;
}
.container-boton button{
    cursor: pointer;
    width: 14rem;
    height: 3.2rem;
    //
    color: #ffffff;
    padding: 0.7em 1.7em;
    font-size: 18px;
    border-radius: 2em;
    background: #141414;
    border: 1px solid #272727;
    transition: all .3s;
    box-shadow: 6px 6px 12px #485348,
             -6px -6px 12px #646d65;
}
.container-boton button:active{
    color: #666;
 box-shadow: inset 4px 4px 12px #b4beb1,
             inset -4px -4px 12px #e9fdef;
}